*

!modules/ahojplatby/
!modules/ahojplatby/**
!modules/ahojplatby/*/*
!modules/ahojplatby/*/*/
!modules/ahojplatby/classes/*.php
modules/ahojplatby/_data

!.github/
!.github/*
!README.md
!.gitignore
